<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>
</head>
<body>
  <img style="vertical-align:middle;margin:0px 50px" src="https://http.cat/401" alt="pic of unauthorised cat, cat cannot come in" >
</body>
</html>